<!DOCTYPE html>
<html>
<head>
	<title>PM</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
   <script type="text/javascript" src="projectviewcontroller.js"></script>

  }
  <style>
  	.thead1{
  	  color:#336699;
  	}
  </style>
</head>
<body ng-app="projectclient">
<div class="container" ng-controller="clientretrive">
<button class = "btn btn-primary" style = "float : right; margin-right : 100px" ng-click = "pmLogOut()">Logout</button>

<h2>project manager page</h2>
<table style="margin-top:50px; box-shadow: 5px 5px 5px #888888;" class="table table-striped table-bordered"
>
    <thead>
    <tr>
    <td> <input type="text" name="name" class="form-control" ng-model="client.client_id"></td>
    <td><input type="text" name="email" class="form-control" ng-model="client.client_name"></td>
    <td><input type="text" name="mobile" class="form-control" ng-model="client.client_acc_num"></td>
    <td><input type="text" name="mobile" class="form-control" ng-model="client.tech_skills"></td>
    <td><input type="text" name="mobile" class="form-control" ng-model="client.mode_of_emplymnt"></td>
    <td><input type="text" name="mobile" class="form-control" ng-model="client.required_date"></td>
    <td><input type="text" name="mobile" class="form-control" ng-model="client.no_of_requirements" placeholder="number of required"></td>
    
    <td><button class="btn btn-primary" name="action" ng-click="addmember()">Addcontact</button></td>
    </tr>
      <tr>
        <th class="thead1">Client ID</th>
        <th class="thead1">Client Name</th>
        <th class="thead1">Client ACC.NO</th>
        <th class="thead1">Technical Skills</th>
        <th class="thead1">Required Date</th>
        <th class="thead1">MOE</th>
        <th>Add members    </th>

      </tr>
    </thead>
    <tbody >
      <tr ng-repeat="projects in client_info">
      <td>{{projects.client_name}}</td>
      <td>{{projects.client_id}}</td>
      <td>{{projects.client_acc_nums}}</td>
      <td>{{projects.tech_skills}}</td>
      <td>{{projects.required_date}}</td>
      <td>{{projects.mode_of_emplymnt}}</td>
      <td><button class = "btn btn-primary" ng-click = "select(projects._id)">Select</button></td>
      </tr>

    </tbody>
  </table>
  </div>

   


</body>
</html>